.user-details-container {
  margin-top: 1rem;
}

aside {
  display: inline-block;
  width: 10rem;
  border-right: .15rem rgba(0, 0, 0, .5) solid;
  height: 9rem;
}

aside button {
  border: none;
  font-weight: 600;
  font-size: 1.2rem;
  background: none;
}

aside button:active {
  color: black;
}

article {
  display: inline-block;
}

article table {
  display: inline;
  margin-left: 3rem;
}

td {
  font-size: 1.1rem;
}

td:first-child {
  width: 8rem;
  font-weight: 500;
  height: 2rem;
}

td:nth-child(2) {
  width: 16rem;
}

td:last-child {
  font-weight: 500;
}

.sign-out {
  display: block;
  margin-left: 13rem;
  font-size: .9rem;
  text-transform: uppercase;
  padding: .7rem;
  background: none;
  border: .2rem black solid;
  border-radius: .4rem;
  font-weight: 500;;
}
