footer {
  background: var(--dhs-blue-color);
  color: white;
  display: flex;
  justify-content: space-around;
}

footer div {
  margin: 2rem 0;
}

footer em {
  font-style: normal;
  font-weight: 500;
}

footer .credits {
  margin: 1rem 0 3rem 0;
}

footer .credits p {
  margin: 0;
  font-weight: 200;
}

footer a {
  display: block;
  color: white;
  margin: .7rem 0;
}

footer .credits-container a {
  font-weight: 500;
  font-size: 1rem;
}

footer .footer-navlinks {
  font-size: 1.1rem;
  font-weight: 300;
}

.twitter-logo-object {
  pointer-events: none;
  width: 100%;
}

.footer-social-links{
  width: 4%;
}

.footer-social-links a {
  margin: 0;
}

.footer-title {
  font-weight: 500;
  font-size: 1.1rem;
}
