header nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1.5rem;
}

header nav picture {
  width: 7%;
}

header nav .navlink-spacer{
  flex: .4;
}

header nav .navlink {
  color: var(--dhs-blue-color);
  font-weight: 500;
  font-size: 1rem;
}

header nav .signin-navlink {
  border: .15rem solid var(--dhs-blue-color);
  border-radius: .5rem;
  padding: .7rem;
  color: var(--dhs-blue-color);
}

.page-title {
  font-size: 1.5rem;
  font-weight: 500;
}
