/*noinspection CssUnknownTarget*/
@import url('https://fonts.googleapis.com/css?family=Roboto:200,300,400,500,600,700');

:root {
  --dhs-blue-color: #0072AE;
}

body {
  margin: 0;
  color: hsla(0, 0%, 0%, 0.8);
  font-family: Roboto, sans-serif;
  font-weight: normal;
  word-wrap: break-word;
}

img {
  max-width: 100%;
  padding: 0;
  margin: 0 0 1.45rem;
}

a {
  color: #000;
  text-decoration: none;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}

.dc-gov-logo {
  width: 100%;
}

picture {
  width: 20%;
}

main {
  margin-left: calc(5rem + 2vw);
  min-height: 60vh;
}

.organization-name {
  display: block;
  margin: 1.5rem 0;
  font-size: .9rem;
}

.organization-suggestion {
  font-weight: bold;
}

.about-section {
  width: 80vw;
}

h1 {
  font-size: 1.5rem;
  font-weight: 500;
}

.email-link {
  color: var(--dhs-blue-color);
}
